* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  min-width: 1226px;
}
.w {
  width: 1226px;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/* 头部开始 */
.header {
  width: 100%;
  height: 140px;
  background-color: pink;
}
.topbar {
  height: 40px;
  background-color: #333333;
}
.content {
  height: 40px;
}
.content .left {
  display: flex;
  font-size: 12px;
  color: #b0b0b0;
  gap: 6px;
  line-height: 40px;
}
.content li {
  position: relative;
}
.content a {
  color: #b0b0b0;
  position: relative;
}
.content a:hover {
  color: white;
}
.topbar li a + span {
  margin-left:  6px;
}
.content li:hover::before {
  content: "";
  position:absolute;
  display: inline-block;
  top: 25px;
  left: 15px;
  border: 8px solid transparent;
  -moz-border-bottom-colors: #fff;
}
.content .left ul {
  display: none;
  position: absolute;
  left: -34px;
  top: 40px;
  width: 125px;
  height: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0,.4);
  transition: .3s;
  z-index: 2;
}
.content  li:hover > ul {
  display: block;
  height: 150px;
}
.content ul img {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  /* vertical-align: bottom; */
}
/* 头部结束 */

