* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  min-width: 1226px;
}
.w {
  width: 1226px;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/* 头部开始 */
.header {
  width: 100%;
  height: 140px;
  /* background-color: pink; */
}
.topbar {
  height: 40px;
  background-color: #333333;
}
.content {
  height: 40px;
}
.content .left {
  display: flex;
  font-size: 12px;
  color: #b0b0b0;
  gap: 6px;
  line-height: 40px;
  float: left;
}
.content li {
  position: relative;
}
.content a {
  color: #b0b0b0;
  position: relative;
}
.content a:hover {
  color: white;
}
.topbar li a + span {
  color: #424242;
  margin-left: 6px;
}
.left ul {
  display: none;
  position: absolute;
  left: -34px;
  top: 40px;
  width: 125px;
  height: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0,.4);
  transition: .3s;
  z-index: 2;
}
li:hover > ul {
  display: block;
  height: 150px;
}
ul img {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  vertical-align: bottom;
}
ul img + span {
  display: block;
  color: black;
  font-size: 14px;
}
.content .right {
  display: flex;
  font-size: 12px;
  color: #b0b0b0;
  gap: 6px;
  line-height: 40px;
  float: left;
  float: right;
}
.shopping {
  float: right;
  line-height: 40px;
  margin-left: 20px;
  font-size: 12px;
  width: 120px;
  text-align: center;
  background-color: #424242;
  position: relative;
}
.shopping ul {
  display: none;
  position: absolute;
  width: 320px;
  right: 0;
  height: 0;
  height: 100px;
  background-color: white;
  line-height: 100px;
  box-shadow: 0 0 3px rgba(0, 0, 0,.4);
  z-index: 2;
  transition: 3s;
}
.content .shopping:hover {
  color: #ff6700;
  background-color: #ffffff;
}
.shopping:hover ul {
  display: block;
}

.downbar {
  height: 100px;
  position: relative;
}
.logo {
  width: 56px;
  height: 56px;
  margin-top: 22px;
  float: left;
}
.logo img {
  width: 56px;
  height: 56px;
}

.nav {
  height: 100px;
  float: left;
  margin-left: 180px;
}
.nav ul {
  display: flex;
  gap:25px;
  height: 100px;
  line-height: 100px;
}
.nav ul li {
  height: 100px;
  position: relative;
}
.nav a {
  color: black;
}
.nav a:hover {
  color: #ff6700;
}

.nav li div {
  display: none;
  position: absolute;
  width: 3000px;
  height: 230px;
  background-color: white;
  top: 100px;
  left: -600px;
  z-index: 3;
  border-top: 2px solid #e0e0e0;
  box-shadow: 0px 2px 5px black;
}
.nav li:hover > div {
  display: block;
}
.nav div ul {
  margin-left: 400px;
}
.nav div li {
  width: 180px;
  padding: 25px 12px 0;
  text-align: center;
}
.nav div img {
  width: 160px;
  height: 110px;
}
.nav div li span {
  margin-top: -30px;
  height: 20px;
  font-size: 12px;
}
.nav div li span:nth-child(3) {
  color: #ff6700;
}
.search {
  font-size: 20px;
  float: right;
  line-height: 100px;
}
.search .text {
  width: 225px;
  height: 50px;
  border: 1px solid #ccc;
  margin-right: -6px;
}
.search .btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
}
.search .btn:hover {
  background-color: #ff6700;
}
/* 头部结束 */


/* banner开始 */
.banner {
  height: 460px;
  /* background-color: palegoldenrod; */
  position: relative;
}
.banner .content {
  height: 460px;
  /* background-color: pink; */
  display: flex;
  flex-shrink: 1;
}
aside {
  width: 234px;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  z-index: 2;
}
aside ul {
  display: flex;
  flex-flow: column;
  padding: 20px 0;
}
aside li {
  position: relative;
}
 aside ul a::before {
  content: ">";
  position: absolute;
  right: 30px;
}
aside ul a {
  display: block;
  width: 234px;
  height: 42px;
  padding-left: 30px;
  color: white;
  line-height: 42px;
  position: relative;
}
aside ul a:hover {
  background-color: #ff6700;
}
aside li div {
  visibility: hidden;
  width: 992px;
  height: 458px;
  position: absolute;
  left: 234px;
  top: -20px;
  display: flex;
  gap: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px black;
}
aside li:hover > div {
  visibility: visible;
}
aside li ul li {
  width: 265px;
  height: 76px;
  line-height: 76px;
}
aside div li img {
  width: 40px;
  height: 40px;
  float: left;
}
aside div li a {
  width: 225px;
  height: 76px;
  font-size: 12px;
  line-height: 76px;
  vertical-align: middle;
  background-color: blueviolet;
}
aside div li a span {
  width: 172px;
  line-height: 40px;
}
.slider {
  width: 1226px;
  height: 460px;
  position: relative;
}
.slider input {
  display: none;
}
.slider input:nth-child(1):checked ~ .slides .slide:nth-child(1) img,
:nth-child(2):checked ~ .slides .slide:nth-child(2) img,
:nth-child(3):checked ~ .slides .slide:nth-child(3) img,
:nth-child(4):checked ~ .slides .slide:nth-child(4) img {
  opacity: 1;
}
.slider input:nth-child(1):checked ~ .slides .slide:nth-child(1) label,
:nth-child(2):checked ~ .slides .slide:nth-child(2) label,
:nth-child(3):checked ~ .slides .slide:nth-child(3) label,
:nth-child(4):checked ~ .slides .slide:nth-child(4) label {
  display: block;
  z-index: 3;
}
.slider input:nth-child(1):checked ~ .check label:nth-child(1)
:nth-child(2):checked ~ .check label:nth-child(2)
:nth-child(3):checked ~ .check label:nth-child(3)
:nth-child(4):checked ~ .check label:nth-child(4) {
  background: hsla(0,0%,100%,.4);
  border-color:rgba(0, 0, 0, .5);
}
.slides {
  height: 100%;
  position: relative;
}
.slide {
  height: 100%;
  width: 100%;
  position: absolute;
}
.slide label {
  position: absolute;
  cursor: pointer;
  display: none;
  width: 41px;
  height: 69px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.slide label:first-child {
  background: url(../images/箭头.png) no-repeat -83px 0;

  left: 234px;
}
.slide label:nth-child(2) {
  background: url(../images/箭头.png) no-repeat -123px 0;

  right: 0;
}
.slide label:first-child:hover {
  background: url(../images/箭头.png)
  no-repeat 0 0;
}
.slide label:nth-child(2):hover {
  background: url(../images/箭头.png) no-repeat -41px 0;
}
.slide img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}
.check {
  position: absolute;
  bottom: 20px;
  right: 60px;
}
.check label {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 4px;
  border: 2px solid #fff;
  border-color: hsla(0,0%,100%,.3);;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
.check label:hover {
  background: hsla(0,0%,100%,.4);
  border-color:rgba(0, 0, 0, .5);
}
/* banner结束 */


